body {
    background-color: #76CDD7;
}

#primary_header {
    text-align: center;
}

#main_content_1 {
    text-align: center;
}

.options {

    color: yellow;
    font-size: 20px;
}


.options-grid {
    display: grid;
    grid-template-columns: 25% 25% 20% 25%;
    padding-left: 130px;
}


.center-text {
    text-align: center;
}


.center-image {
    display: inline-block;
}


.grid-column {
    display: grid;
    grid-template-columns: 33% 30% 30%;
    padding: 10px;
    gap: 30px;
}


.verticle-center {
    padding: 250px 0;
}