body {
    background-color: #76CDD7;
}

#primary_header {
    text-align: center;
}

#main_content_1 {
    text-align: center;
}

.options {
    background-color: grey;
    color: yellow;
    font-size: 20px;
}