<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/bookpage.css" />
</head>

<body>
    <div class="center-text">
        <h1>About the book:</h1>

        <b>{{book_title}}</b><br><br>
        <div class="center-image">
            <img src="{{book_cover}}" /><br>
        </div>
        <div class="text-margins">
            <p><b>By: {{author}}</b></p>
            <p><b>About the author:</b> {{author_bio}}</p>
            <p><b>Summary:</b> {{flapcopy}}</p>
            <p><b>ISBN:</b> {{book_isbn}}</p>
            <p>{{book_theme}}</p>
            <p>This book is about {{page_num}} pages</p>
        </div>
    </div>
</body>

</html>