<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/favorites.css" />
</head>

<body>
    <form method="POST" action="/homepage">
        <input type="submit" value="Return Home.">
    </form>
    <div class=center-text>
        <h1>Your Favorites:</h1>
        <p>Type an ISBN number below to remove any favorites!</p>
        <form method="POST" action="/delete_favorite">
            <input type="text" name="isbn" style="width: 500px" placeholder="isbn">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class='main-grid'>
        {% for i in favorites %}
        <div>
            <img src={{i[0]}} alt="Book Poster" class="center">
            <div>
                <br>
                <div class='data-grid'>
                    <div>
                        Author: {{i[1]}}
                    </div>
                    <div>
                        Title: {{i[2]}}
                    </div>
                    <div>
                        Pg count: {{i[3]}}
                    </div>
                    <div>
                        Theme: {{i[4]}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>