<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/favorites.css" />
</head>

<body>
    <form method="POST" action="/homepage">
        <input type="submit" value="Return Home.">
    </form>
    <div class=center-text>
        <h1>Your Favorites:</h1>
        <p>Type an ISBN number below to remove any favorites!</p>
        <form method="POST" action="/delete_favorite">
            <input type="text" name="isbn" style="width: 500px" placeholder="isbn">
            <input type="submit" value="Submit">
        </form>
    </div>
    {% if num_books is defined %}
    {% for index in range(num_books) %}
    <div>
        <img src="{{book_urls[index]}}" />
        <p><b>Title: {{book_titles[index]}}</b></p>
        <form action="/get_book_info" method="POST">
            {{ suggestion_form.csrf_token }}
            ISBN:
            {{ suggestion_form.isbn(value=book_ISBNs[index]) }}
            {{ suggestion_form.submit }}
        </form>
    </div>
    {% endfor %}
    {% endif %}

</body>

</html>