<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/homepage.css" />
</head>

<body>
    <form action="/logout" method="POST">
        {{ logout_button.csrf_token }}
        {{ logout_button.submit }}
    </form> <br>

    <a href="{{url_for('profile')}}">Profile</a>
    <br>

    <h1 id="primary_header">Welcome to the main page. What would you like to do?</h1>
    <p id="main_content_1">
        <a class="options" href="{{url_for('suggestions')}}"><b>Looking for suggestions?</b></a><br><br>
        <a class="options" href="{{url_for('search_by_title')}}"><b>Search for Books by Title!</b></a><br><br>
        <a class="options" href="{{url_for('favorites')}}"><b>See your favorites!</b></a><br><br>
        <a class="options" href="{{url_for('recommendations')}}"><b>See your recommendations!</b></a>
    </p>

    {% if num_books != 0 %}
    {% for index in range(display_number) %}
    <div>
        <p><b>Title: {{book_titles[index]}}</b></p>
        <form action="/handle_dualsubmits_add" method="POST">
            {{ bookinfo_form_a.csrf_token }}
            {{ bookinfo_form_a.original_route(value=route_name, type="hidden") }}
            {{ bookinfo_form_a.isbn(value=book_ISBNs[index], type="hidden") }}
            {{ bookinfo_form_a.submit_explore }}
            {{ bookinfo_form_a.submit_add }}
        </form>
        <img src="{{book_urls[index]}}" />
    </div>
    {% endfor %}
    {% endif %}
</body>

</html>