<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/recommendations.css" />
</head>

<body>
    <br>
    <form action="/homepage" method="POST">
        {{ return_home_button.csrf_token }}
        {{ return_home_button.submit }}
    </form>
    <div class="verticle-center">
        <div class="center-text">
            <h1>You Currently Have no Recommendations!</h1>
            <!--Flashed messages will appear here.-->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <b>{{message}}</b>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

</body>

</html>