<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/recommendations.css" />
</head>

<body>
    <form action="/homepage" method="POST">
        {{ return_home_button.csrf_token }}
        {{ return_home_button.submit }}
    </form>

    <h1 class=center-text>Your Recommendations:</h1>

    <!--Flashed messages will appear here.-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <b>{{message}}</b>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% if num_books is defined %}
    <div class="grid-column">
        {% for index in range(num_books) %}
        <div>
            <div class="center-text">
                <p><b>Title: {{book_titles[index]}}</b></p>
                <p><b>Sent by: {{recommendation_senders[index]}}</b></p>
                <div class="center-image">
                    <form action="/handle_triplesubmits_recdelete" method="POST">
                        {{ bookinfo_form_drecs.csrf_token }}
                        {{ bookinfo_form_drecs.isbn(value=book_ISBNs[index], type="hidden") }}
                        {{ bookinfo_form_drecs.submit_explore }}
                        {{ bookinfo_form_drecs.submit_favorite }} <br>

                        <img src="{{book_urls[index]}}" /><br>

                        {{ bookinfo_form_drecs.submit_delete }}
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</body>

</html>