<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/book_search_by_title.css" />
</head>

<body>
    <h1>Provide the title! Suggestions will be Provided:</h1>
    <!--Form to display themes as a dropdown will be shown here.-->
    <form method="POST" action="/handle_title_selection">
        {{ title_form.csrf_token }}
        {{ title_form.title }}
        {{ title_form.submit }}
    </form>
    {% if num_books is defined %}
    <div>
        <p><b>Title: {{book_title}}</b></p>
        <form action="/get_book_info" method="POST">
            {{ suggestion_form.csrf_token }}
            ISBN:
            {{ suggestion_form.isbn(value=book_ISBN) }}
            {{ suggestion_form.submit }}
        </form>
        <img src="{{book_url}}" />
    </div>
    {% endif %}
</body>

</html>