<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
    </head>
    <h1>Sign Up</h1>
    <body>
        <form action="/signup" method="POST">
            {{ form.hidden_tag() }}
            {{ form.email }}
            {{ form.username }} <br> <br>
            {{ form.password }} <br> <br>
            {{ form.submit }}
    
    
    
        </form>
           <br> 
                <label>Already have an account?</label>
                <a href="{{url_for('login')}}">Login!</a>
            </form>
            
    </body>

    </html>
