<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/book_suggestions.css" />
</head>

<body>
    <h1>Provide the Theme, Suggestions will be Provided:</h1>
    <!--Form to display themes as a dropdown will be shown here.-->

    {% if num_books is defined %}
    {% for index in range(num_books) %}
    <div>
        <p><b>Title: {{book_titles[index]}}</b></p>
        <form action="/get_book_info" method="POST">
            {{ suggestion_form.csrf_token }}
            ISBN:
            {{ suggestion_form.isbn(value=book_ISBNs[index]) }}
            {{ suggestion_form.submit }}
        </form>
        <img src="{{book_urls[index]}}" />
    </div>
    {% endfor %}
    {% endif %}
</body>

</html>