<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/book_suggestions.css" />
</head>

<body>
    <br>
    <form action="/homepage" method="POST">
        {{ return_home_button.csrf_token }}
        {{ return_home_button.submit }}
    </form>
    <div class="center-text">
        <h1>Provide the Theme! Be Offered Choice Picks:</h1>

        <!--Flashed messages will appear here.-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <b>{{message}}</b>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="center-dropdown">
        <form method="POST" action="/handle_theme_suggestions">
            {{ theme_form.csrf_token }}
            {{ theme_form.theme }}
            {{ theme_form.submit }}
        </form>
    </div>

    <br>
    {% if num_books is defined %}
    <div class="grid-column">
        {% for index in range(num_books) %}
        <div>
            <div class="center-text">
                <p><b>Title: {{book_titles[index]}}</b></p>

                <div class="center-image">
                    <form action="/handle_dualsubmits_add" method="POST">
                        {{ bookinfo_form_a.csrf_token }}
                        {{ bookinfo_form_a.original_route(value=route_name, type="hidden") }}
                        {{ bookinfo_form_a.isbn(value=book_ISBNs[index], type="hidden") }}
                        {{ bookinfo_form_a.submit_explore }}
                        {{ bookinfo_form_a.submit_add }}
                    </form>
                </div>
            </div>
            <br>
            <div class="center-text">
                <div class="center-image">
                    <img src="{{book_urls[index]}}" />
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</body>

</html>