<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/book_suggestions.css" />
</head>

<body>
    <form action="/homepage" method="POST">
        {{ return_home_button.csrf_token }}
        {{ return_home_button.submit }}
    </form>

    <h1>Provide the Theme, Suggestions will be Provided:</h1>

    <!--Flashed messages will appear here.-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <b>{{message}}</b>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="POST" action="/handle_theme_suggestions">
        {{ theme_form.csrf_token }}
        {{ theme_form.theme }}
        {{ theme_form.submit }}
    </form>

    {% if num_books is defined %}
    {% for index in range(num_books) %}
    <div>
        <p><b>Title: {{book_titles[index]}}</b></p>
        <form action="/handle_dualsubmits_add" method="POST">
            {{ bookinfo_form_a.csrf_token }}
            {{ bookinfo_form_a.original_route(value=route_name, type="hidden") }}
            {{ bookinfo_form_a.isbn(value=book_ISBNs[index], type="hidden") }}
            {{ bookinfo_form_a.submit_explore }}
            {{ bookinfo_form_a.submit_add }}
        </form>
        <img src="{{book_urls[index]}}" />
    </div>
    {% endfor %}
    {% endif %}
</body>

</html>